<html>

<head>
    <meta charset="utf-8">
    <title>Team Builder</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'login/loginStyles.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#"> 
        <img src="{% static 'TeamBuilder_logo'%}" alt="Logo"/>
        </a>
        <!-- Add if logged in to hide the routes to pages that you need to have a profile for  -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'projects-home' %}">Public projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user-page' username=user.username %}">{{user.username}}'s Profile</a>
                    
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'projects-my' %}">Your Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'createP' %}">Create Project</a>
                </li>
                {% endif %}
            </ul>
            <div class="d-flex flex-row-reverse ">
                    {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}" class="btn btn-outline-success p-2" type="button">Logout</a>
                    {% else %}
                    <!-- <a href="{% url 'login-user' %}" class="btn btn-outline-success p-2" type="button">Login</a>
                    <a href="{% url 'register' %}" class="btn btn-outline-success p-2" type="button">Register</a> -->
                    {% endif %}
            </div>
        </div>
    </nav>

    {% block body %}

    {% endblock %}

</body>

</html>